.invisible {
    display: none;
}

.days {
    padding: 5px 50px;
}

.days-holder {
    overflow: auto;
    overflow-y: scroll;
    max-height: 80vh;
}


.dayText {
    padding: 0, 100px;
    margin: 0 371px;
}
