.invisible {
    display: none;
}

.days {
    padding: 5px 30px;
}

.days-holder {
    overflow: auto;
    overflow-y: scroll;
    max-height: 80vh;
}


.dayText {
    padding: 0, 120px;
    margin: 0 400px;
}
